[Unit]
Description=Syso - a simple blogging system
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/syso/bin/sysod.sh start
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
